<div class="card mb-4 page-reset-form" id="forms">
    <div class="card-body">
        <form action="/reset" method="POST">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">Password Reset
                    </div>
                    <div class="text-center">
                        <% if (errorMessage) { %>
                            <div class="user-message user-message--error">
                                <%= errorMessage %>
                            </div>
                            <% } %>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="email">Your email</label>
                            <input type="email" name="email" class="form-control validate" required>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-primary" type="submit">Reset Password</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>